[Desktop Entry]
Version=1.0
Name=RoughPad
Name[el]=RoughPad
GenericName=RoughPad
GenericName[el]=RoughPad
Comment=General Purpose Notes
Comment[el]=Πρόχειρες Σημειώσεις
Type=Application
TryExec=RoughPad
Exec=RoughPad
Icon=RoughPad
Categories=Development;Utility;
